.navbar-default{
	background-color: rgba(255, 255, 255, 0.8);
	border: none;
}

.navbar-brand {
	.navbar-logo {
		height: 80px;
		margin-top: -15px;	    
	}
}

.lang-bar{
	font-size: 12px;

	.chosen{
		text-decoration: underline;
	}
}

.navbar-default .navbar-nav{
	& > li {
		a, a:hover, a:focus{
			color: @logo-blue;		
		}
		a{
			border-bottom: 5px solid transparent;
		}
		a:hover, a:focus{			
			border-color: @logo-red;	
		}
	}

	.active{		
		a, a:hover, a:focus{
			background-color: transparent;
			color: @logo-blue;
			border-color: @logo-red;
		}
	}

	.open{
		a, a:hover, a:focus{
			background-color: transparent;
			color: @logo-blue;
		}
	}
}

#outcome-link, #outcome-dropdown{
	float: left;	
}

#outcome-link{
	padding-right: 0;
}

#outcome-dropdown{
	margin-left: 0;
	padding-left: 5px;
}